.ratingButton {
    width: 20%;
    height: 100%;
  }
  
.ratingButtonsWrapper {
    display: flex;
    min-width: 100px;
    min-height: 25px;
  }

.ratingMarksWrapper {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 90%;
  min-height: 50px;
  color: #00f;
  background-color: #f00;
  
}