* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Raleway';
  // height: 100vh;
}

button {
  cursor: pointer;
}
