@import '../../scss/abstracts.scss';

.header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  transform: translateX(-50%);
  @include size(100vw, 50px);
}

.logo {
  background: url('../../assets/images/logo.png') no-repeat center;
  background-size: contain;
  filter: drop-shadow(1px 1px 1px #000);
  @include size(170px);
}

.logo:hover {
  cursor: pointer;
}
