@import '../../scss/abstracts.scss';

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  transform: translateX(-50%);
  @include size(100vw, 30px);
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer img {
  width: 70px;
}

@media (max-width: 739px) {
  .footer {
    font-size: 12px;
  }
}

@media (max-width: 499px) {
  .footer {
    font-size: 10px;
    text-align: center;
  }
}
